@{
    ViewBag.Title = "Hakkımda";
}
<h2>@ViewBag.Title</h2>
<div class="container">
    <p>Bu proje Mesut Öztürk tarafından yapılmıştır.</p>
    <p><b>E-Posta :</b> mstztrk46@gmail.com</p>
</div>
<hr />

