@model Public.UI.Models.CalisanlarModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışanlar</h2>

<div class="container col-lg-8">
    <table class="table">
        <tr>
            <th>
                Çalışan Ad
            </th>
            <th>
                Çalışan Soyad
            </th>
            <th>
                Çalışan Telefon
            </th>
            <th>Detay</th>
        </tr>

        @foreach (var item in Model.clist) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CalisanAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalisanSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalisanTelefon)
                </td>
                <td>
                    @Html.ActionLink("Detay", "Detay", new { id = item.CalisanId }) 
                </td>
            </tr>
}

    </table>
</div>